[Economy]

    ;; Enables selling things for $0.  Default is true.
    SellEnabled = true

    CurrencyServer = "https://jogrid.net:8008/"
    EconomyModule = DTLNSLMoneyModule

	;; CA
    ;CheckServerCert = false
    ;CACertFilename  = "cacert.crt"

    ;; Client Cert
    ;ClientCertFilename = "region_cert.p12"
    ;ClientCertPassword = ""

    ;; in development
    ;SettlementByWeb   = false
    ;SettlementURL     = "http://www.jogrid.net"
    ;SettlementMessage = "Goto the settlement of accounts Web page. (Testing now)"

    ;; Money Unit fee to upload textures, animations etc.  Default is 0.
    PriceUpload = 10

    ;; Money Unit fee to create groups.  Default is 0.
    PriceGroupCreate = 10

    ;; for HG Avatar
    ;; HGAvatarIsGridAvatar:  HG Avatar is assumed to be a Local Grid Avatar
    ;; HGAvatarIsGuestAvatar: HG Avatar is assumed to be a guest Avatar
	;; HGAvatarIsGuestAvatar has higher priority than HGAvatarIsGridAvatar.
    ;HGAvatarIsGridAvatar  = false
    ;HGAvatarIsGuestAvatar = false

